{% include '_header.html' %}
{% load static %}
{% block content %}
<div class="container container-summary">
    <p class="fs-1 text-center fw-semibold">
        Driven by a passion for crafting user-friendly web applications, 
        aspiring web or software developer.
        Dedicated to continuous learning and staying ahead in industry trends.
    </p>
   
    <br>
    <hr>
</div>
<main class="main-intro container">
    <div class="row">
        <div class="col-sm">
            <p class="text-start fs-5">
                Passionate IT graduate seeking an entry-level position. Skilled in
                developing user-friendly web applications using Python, Django,
                Bootstrap, and MySQL. Strong problem-solving abilities, effective
                communication, and proficiency with Git, GitHub, and Microsoft
                Office. Committed to continuous learning and staying updated with
                industry trends.
            </p>
        </div>

        <div class="col-sm">
            <img src="{% static 'img/me.jpg' %}" class="img-fluid rounded float-end" alt="e-claSched">
        </div>
    </div>
    <br>
    <hr>
</main>
<section class="section-about">
    <div class="container">
        <div class="row">
            <h2 class="text-start fw-bold">Experience</h2>
            <div class="col-sm-4">
                <p class="fs-4 fw-semibold">On the job Trainee</p>
                <p class="fs-5">Bayawan District Hospital</p>
                <p class="fs-5">July 2023 - Dec 2023</p>
            </div>
            <div class="col-sm-4">
                <p class="fs-4 fw-semibold">Software Developer</p>
                <p class="fs-5">Laure Realty Law Office</p>
                <p class="fs-5">June 2020 - July 2020</p>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-start fw-bold">Education</h2>
            <div class="col-sm-7">
                <p class="fs-4 fw-semibold">Bachelor of Science in Information Technology</p>
                <p class="fs-5">Negros Oriental State University,Bayawan Santa Catalina Campus</p>
                <p class="fs-5">2023-2024</p>
            </div>
            <div class="col-sm-7">
                <p class="fs-4 fw-semibold">Information and Communications Technology</p>
                <p class="fs-5">Southern Tech College Foundation INC.,</p>
                <p class="fs-5">2019-2020</p>
            </div>
        </div>

        <div class="row justify-content-start">
            <h2 class="text-start fw-bold">Skills</h2>
            <div class="col-sm-4">
                <p class="fs-4">Python</p>
                <p class="fs-4">Django</p>
                <p class="fs-4">Visual Basic</p>
                <p class="fs-4">Bootstrap</p>
                <p class="fs-4">Semantic ui</p>
                <p class="fs-4">Git and GitHub</p>
                <p class="fs-4">Microsoft Office</p>
            </div>
            <div class="col-sm-4">
                <p class="fs-4">CSS, JavaScript, HTML</p>
                <p class="fs-4">Postman API Platform</p>
                <p class="fs-4">Web Design</p>
                <p class="fs-4">Problem Solving</p>
                <p class="fs-4">Simplistic Design</p>
                <p class="fs-4">Time Management</p>
                <p class="fs-4">Adaptability</p>
                <p class="fs-4">Communication Skills</p>
            </div>
        </div>
        <div class="row justify-content-start">
            <h2 class="text-start fw-bold">Contact</h2>
            <div class="col-sm-4">
                <p class="fs-4">saldivararnold80@gmail.com</p>
                <p class="fs-4">
                    <a href="https://www.linkedin.com/in/arnold-saldivar-51581b278/">Linkedin</a>
                </p>
                <p class="fs-4">
                    <a href="https://www.facebook.com/profile.php?id=100008333829162">Facebook</a>
                </p>
             
            </div>
        </div>
    </div>
<section>   
{% endblock %}
{% include '_footer.html' %}
