{% include '_header.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-sm container-eclasched overflow-hidden text-center">
    <p class="fs-1 text-center fw-bold">Farmlink</p>
    <br>
    <p class="fs-3 text-start fw-semibold">
        Farmlink One Stop Shop is an innovative e-commerce web application specifically designed to cater to the needs of farmers, offering a convenient online platform for purchasing a variety of agricultural products. 
        The platform features a diverse range of products including vegetables, fruits, root crops, spices, and grains. 
    </p>
    <br>
    <br>
    <p class="fs-5 text-start text-p1">
        The development of Farmlink One Stop Shop originated from a feasibility study conducted within the field of business administration. The primary focus of this study was to evaluate the potential and practicality of such a platform for farmers, 
        with a particular emphasis on the agricultural community in Bayawan City. The study aimed to understand the specific needs and challenges faced by these farmers and to develop a tailored solution 
        that could enhance their access to essential agricultural products while also streamlining their purchasing process.
    </p>

  
    <br>
    <br><hr>
    <p class="fs-5 text-start text-p3 fw-bolder">
        Technologies used: 
    </p>
    <p class="fs-5 text-start text-p3 fw-semibold">
       Python, Django, Bootstrap, MySQL, HTML, CSS, JavaScript
    </p>

    </div>
    <div class="container-fluid container-eclasched-img">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/ecom/1.png' %}" class="img-fluid mx-auto d-block" alt="e-claSched">
            </div>
            
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/ecom/2.png' %}" class="img-fluid mx-auto d-block" alt="e-claSched">
            </div>
            <div class="col-sm">
                <img src="{% static 'img/ecom/3.png' %}" class="img-fluid mx-auto d-block" alt="e-claSched">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/ecom/4.png' %}" class="img-fluid mx-auto d-block" alt="e-claSched">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/ecom/5.png' %}" class="img-fluid mx-auto d-block" alt="e-claSched">
            </div>
        </div>
        <br>
       
    <a href="{% url 'home' %}" class="text-center fw-semibold fs-2 all-project">Back to all project</a>
        
    </div>
</main>

{% endblock %}


{% include '_footer.html' %}