{% include '_header.html' %}
{% block content %}
{% load static %}
<main class="main-hero container">
    <p class="text-title fw-bold"> <span class="web">Web Development.</span> <span class="interfaces">Interfaces.</span><span class="ux">UX.</span> <span class="simple">Simplistic Design.</span> </p>
</main>
<section class="section-project">
    <div class="container ">
        <div class="row">
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold text-center">Sofia's Kitchen</p>
                <p class="text-body-secondary">
                   <a href="https://arnold.jovetico.com/" class="text-reset" target="_blank">
                    Visit Website
                    <i class="bi bi-arrow-right"></i>
                   </a>.
                </p>
            </div>
            <div class="col-sm-9">
                <a href="https://arnold.jovetico.com/" target="_blank">
                    <img src="{% static 'img/sofias_kitchen.png' %}" class="img-fluid" alt="e-claSched">
                </a>
            </div>
          
        </div>
        <div class="row">
            <div class="col-sm-9">
                <a href="{% url 'e-clasched' %}">
                    <img src="{% static 'img/eclasched.png' %}" class="img-fluid" alt="e-claSched">
                </a>
            </div>
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold ">e-ClaSched</p>
                <p class="fs-6 fw-semibold ">Web-Based Class Scheduling Management System</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold text-center">Farmlink</p>
                <p class="fs-6 fw-semibold text-center">Farmer's e-commerce</p>
            </div>
            <div class="col-sm-9">
                <a href="{% url 'farmlink' %}">
                    <img src="{% static 'img/ecom/1.png' %}" class="img-fluid" alt="e-claSched">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <p class="fs-4 fw-semibold text-start">Figma Design</p>
            <div class="col-sm">
                <img src="{% static 'img/White_Dashboard.png' %}" class="img-fluid" alt="e-claSched">
                <!---
                <p class="text-body-secondary">
                    <a href="https://www.figma.com/proto/HjOi75kJuvTjuPAqt8ZEVb/Arts-Aura-App?t=EnPJ2LdtgKmKAsXx-1" class="text-reset" target="_blank">
                        Go to Design
                     <i class="bi bi-arrow-right"></i>
                    </a>.
                 </p>
                -->
            </div>
           
            <div class="col-sm">
                <img src="{% static 'img/Green_Dashboard.png' %}" class="img-fluid" alt="e-claSched">
                <!---
                <p class="text-body-secondary">
                    <a href="https://www.figma.com/proto/HjOi75kJuvTjuPAqt8ZEVb/Arts-Aura-App?t=EnPJ2LdtgKmKAsXx-1" class="text-reset" target="_blank">
                     Go to Design
                     <i class="bi bi-arrow-right"></i>
                    </a>.
                 </p>
                 -->
            </div>
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'img/clothes_figma.png' %}" class="img-fluid" alt="e-claSched">
            </div>
            <div class="col-sm"></div>
        </div>
        </div>
        <hr>
        <div class="row">
            <p class="fs-4 fw-semibold text-start">Side projects</p>
            <div class="col-sm-3">
                <p class="fs-4 fw-semibold text-center">Food Recipe</p>
                <p class="fs-6 fw-semibold text-center">Random food recipe using API</p>
                <ul class="list-group">
                    <li class="fs-6 list-group-item">React JS</li>
                    <li class="fs-6 list-group-item">React Bootstrap</li>
                    <li class="fs-6 list-group-item">API</li>
                </ul>
            </div>
            <div class="col-sm-8">
                <img src="{% static 'img/react/food.png' %}" class="img-fluid" alt="e-claSched">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <img src="{% static 'img/react/movie.png' %}" class="img-fluid" alt="e-claSched">
            </div>
            <div class="col-sm-3">
                <p class="fs-4 fw-semibold text-center">Movie Finder</p>
                <p class="fs-6 fw-semibold text-center">Movie finder using API</p>
                <ul class="list-group">
                    <li class="fs-6 list-group-item">React JS</li>
                    <li class="fs-6 list-group-item">React Bootstrap</li>
                    <li class="fs-6 list-group-item">API</li>
                </ul>
            </div>
          
        </div>


    </div>
</section>

<article class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">
                <p class="fw-semibold">
                    I'm Arnold Saldivar, 
                    Proficient in developing user-friendly web applications using Python, Django Framework, Bootstrap, and MySQL.
                    Committed to continuous learning, I stay updated with the latest industry trends to enhance my technical expertise.
                    My goal is to further develop my skills in web application and software development to create innovative and efficient solutions.
                </p>
                <a class="navbar-brand fw-bold" href="{% url 'about' %}">More about me</a>

            </div>
          </div>
    </div>
</article>
{% endblock %}

{% include '_footer.html' %}
