{% include '_header.html' %}
{% block content %}
{% load static %}
<main class="main-hero container">
    <p class="text-title fw-bold"> <span class="web">Web Development.</span> <span class="interfaces">Interfaces.</span><span class="ux">UX.</span> <span class="simple">Simplistic Design.</span> </p>
</main>
<section class="section-project">
    <div class="container ">
        <div class="row">
            <div class="col-sm-9">
                <img src="{% static 'img/eclasched.png' %}" class="img-fluid" alt="e-claSched">
            </div>
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold ">e-ClaSched</p>
                <p class="fs-6 fw-semibold ">Web-Based Class Scheduling</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold text-center">QR Attendance</p>
                <p class="fs-6 fw-semibold text-center">Web-Based Class Scheduling Management System</p>
            </div>
            <div class="col-sm-9">
                <img src="{% static 'img/semantic_template.png' %}" class="img-fluid" alt="e-claSched">
               
            </div>
        </div>

       
        <hr>
        <div class="row">
            <div class="col-sm-9">
                <img src="{% static 'img/bootstrap_template.png' %}" class="img-fluid" alt="e-claSched">
            </div>
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold text-center">Art Gallery/Store</p>
                <p class="fs-6 fw-semibold text-center">Web-Based Class Scheduling Management System</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <p class="fs-4 fw-semibold text-center">Farmlink</p>
                <p class="fs-6 fw-semibold text-center">Farmer's e-commerce</p>
            </div>
            <div class="col-sm-9">
                <img src="{% static 'img/ecom.png' %}" class="img-fluid" alt="e-claSched">
            </div>
        </div>
        <a class=" fs-5 fw-semibold other-projects" href="{% url 'about' %}">Other projects <i class="bi bi-arrow-right"></i></a>
    </div>

</section>

<article class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-2">
                <p class="fw-semibold">
                    I'm Arnold Saldivar, 
                    Proficient in developing user-friendly web applications using Python, Django Framework, Bootstrap, and MySQL.
                    Committed to continuous learning, I stay updated with the latest industry trends to enhance my technical expertise.
                    My goal is to further develop my skills in web application and software development to create innovative and efficient solutions.
                </p>
                <a class="navbar-brand fw-bold" href="{% url 'about' %}">More about me</a>

            </div>
          </div>
    </div>
</article>
{% endblock %}

{% include '_footer.html' %}
